*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-container {
  border: 1px solid black;
  padding: 2em;
  width: 50%;
  margin: 2em auto;
}